<h1>Editing task</h1>

<%= render "form", task_group: @task_group, task: @task %>

<div class="mt-3">
  <%= link_to "Cancel", @task_group, class: "btn btn-outline-secondary" %>

  <%= button_to(
        "Destroy this task",
        [@task_group, @task],
        method: :delete,
        class: "btn btn-danger mt-5",
        data: { turbo_confirm: "Are you sure?" }
      ) %>
</div>
